:root {
  --color1: white;
  --color2: black;
  --color3: #3F51B5;
  --color4: rgb(197, 195, 230);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

header {
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  align-items: center;

}

header div {
  display: flex;
  align-items: center;
  margin: .5rem;
  /* height: 18vh; */
  justify-content: space-between;
  /* outline: 1px solid red; */
  width: 98%;
}

.logos {
  width: 10vw;
  height: 100%;
}

header h1 {
  flex: 1;
  text-align: center;
  font-size: 6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 3px 4px 2px var(--color4);
  font-weight: bold;
}

header nav {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin: 0.1rem;
  padding: 0.1rem; */
  border: 2px solid var(--color4);
}

a {
  margin: 1rem 2rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 5px var(--color4);
  text-decoration: none;
}

.general-container {
  /* separa los section por cada fila */
  display: flex;
  flex-direction: column;
  background-color: var(--color1);
  height: 100vh;
  width: 100vw;
}

.main-container {
  background-color: var(--color1);
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  /* margin: 1rem; */
  background-image: url(./Imagenes/fondo.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; para una resolucion entre 768 y 460 */
  /* outline: 1px solid red; */
}

section h3 {
  text-align: center;
  padding-bottom: 0.4rem;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 2.6rem;
}

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 220px;
  width: 230px;
  background-color: var(--color4);
  outline: 1px solid var(--color2);
}

.card h4 {
  padding-top: .3rem;
  font-size: 1.3rem;
}

.card-img {
  height: 86%;
  width: 100%;
  object-fit: cover;
}

.general-info {
  display: flex;
  flex-direction: column;
}

.general-info h3 {
  width: 100%;
}

.list-table {
  display: flex;
  justify-content: center;
  gap: 2.6rem;
}

ul {
  width: 10vw;
}

li {
  list-style: inside;
}

.list-table div {
  padding: 0.8rem;
  background-color: var(--color4);
  outline: 1px solid var(--color2);
}

.list-table table {
  background-color: var(--color1);
}

th,
td {
  outline: 1px solid var(--color2);
  text-align: center;
  padding: .1rem;
}

img {
  /* width: 15%;
  height: 15%; */
  object-fit: cover;
}

footer {
  display: flex;
  background-color: var(--color2);
  color: var(--color1);
  justify-content: space-around;
  align-items: center;
  padding: 0.4rem;
  height: 6vh;
}

legend {
  outline: 1px solid gray;
  padding: 0.5rem;
}

label {
  margin: 0.5rem;
}

@media screen and (width < 768px) {
  header h1 {
    font-size: 2rem;
  }

  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* margin: 0.1rem;
    padding: 0.1rem; */
    border: 1px solid var(--color4);
  }

  a {
    margin: 0.2rem;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 5px var(--color4);
    text-decoration: none;
  }

  .main-container {
    background-color: var(--color1);
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    min-height: 85vh;
    /* margin: 1rem; */
    background-image: url(./Imagenes/fondo.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; para una resolucion entre 768 y 460 */
    /* outline: 1px solid red; */
  }

  .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    gap: .6rem;
    width: 100%;
  }

  .card {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 80%;
    /* width: 180px; */
    background-color: var(--color4);
    outline: 1px solid var(--color2);
  }

  .card h4 {
    padding-top: 0rem;
    font-size: 1rem;
    text-align: center;
    flex: 1;
  }

  .card-img {
    height: 100%;
    width: 60%;
    object-fit: cover;
  }

  .general-info {
    display: block;
    /* flex-flow: row wrap; */
  }

  .general-info h3 {
    width: 100%;
  }

  .list-table {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: .6rem;

  }

  .list-table div {
    width: 80%;
    align-items: center;
  }

  table,
  ul {
    width: 80%;
  }

  footer {
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--color2);
    color: var(--color1);
    align-items: center;
    padding: 1rem;
    min-height: 10vh;
  }

  legend {
    outline: 1px solid gray;
    padding: 0.5rem;
  }

  label {
    margin: 0.5rem;
  }

}

@media screen and (768px <=width < 1024px) {
  header h1 {
    font-size: 3.8rem;
  }

  .card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 2.6rem;
  }

  .card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 190px;
    width: 210px;
    background-color: var(--color4);
    outline: 1px solid var(--color2);
  }

  .card h4 {
    padding-top: 0;
    font-size: 1.3rem;
  }

  .card-img {
    height: 86%;
    width: 100%;
    object-fit: cover;
  }
}